@model IEnumerable<WebHpShop.Service.ViewModel.ProductDiscounViewModel>

@{ ViewData["Title"] = "TopSale";
    Layout = null; }

<script src="~/homepage/index.js"></script>
<link href="~/homepage/style.css" rel="stylesheet" />
<div class="container py-5">
    <h4 class="font-rubik font-size-20">Khuyễn Mãi</h4>
    <hr>
    <!-- owl carousel -->
    <div class="owl-carousel owl-theme">
        @foreach (var item in Model)
        {
    <div class="item py-2">
    <div class="product">
        <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.Id"><img src="~/Images/@item.Image" alt="product1" class="img-fluid" style="height:222px;"></a>
        <div class="text-center">
            <h6>@item.ProductName</h6>
            <div class="price py-2">
                <span> @String.Format("{0:0,0 vnđ}", item.DisscountMoney)</span>
            </div>
            <div class="price py-2">
                <span><del> @String.Format("{0:0,0 vnđ}", item.Price)</del></span>
            </div>
            <div class="sale">
                @item.sale%
            </div>
            <a asp-action="BuyProducts2" asp-controller="Cart" asp-route-Id="@item.Id" class="btn btn-outline-warning">
                <i class="fa fa-shopping-cart"></i>Mua Ngay
            </a>
            <script>
                $('#sellNow').click(function() {
                    $.ajax({
                        type: "GET",
                        url: "/Cart/BuyProducts",
                        data: { id: @Model.,quantity : 1 },
                        dataType: "text",
                        success: function () {
                            alert("Đã thêm vào giỏ hàng");
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>}
    </div>
    <!-- !owl carousel -->
</div>



